
{{ define "main" }}
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <h4 id="date">Originally composed: {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
<aside id="meta">
    <div>
    {{ with .Params.topics }}
    <ul id="topics">
      {{ range . }}
        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    {{ with .Params.tags }}
    <ul id="tags">
      {{ range . }}
        <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    </div>
    {{- partial "pagination.post.html" . -}}
    </aside>
  {{ end }}